





*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: white;
     

}


ul{
     display: flex;
     align-items: center;
     flex: 1;
     gap: 2rem;
    
}


body{
    display: flex;
    flex-direction: column;
}


.nav{
    display: flex;
    background-color: #1F2937;
}


.logo{
    width: 4rem;
    height: auto;
    object-fit: cover;

}


.section{
    height: 20rem;

}

.section-1{
    background-color: red;
    color: red;
}




.footer{   
    color: white;
    background-color: #1F2937;
    margin-top: auto;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

}